th[scope="row"] {
    padding-top: 15px;
}

#chat-end {
	background: #ef1515;
	border-color: #ef1515 #c01616 #ef1515;
	box-shadow: 0 1px 0 #c01616;
	text-shadow: 0 -1px 1px #c01616,1px 0 1px #c01616,0 1px 1px #c01616,-1px 0 1px #c01616; 
}

#chat-end:hover {
    background: #ef1515cc;
}

#chat-history {
	width: 300px;
	height: 200px;
	border: 1px solid;
	background-color: white;
	padding: 10px;
	overflow-y: scroll;
}

#chat-history p {
	margin-top: 0;
    padding-bottom: 15px;
}

.lv-visitor-message {
	text-align: right;
}